@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap');

// COLORS **********************************************************************

$primary: #8B00FF;
$secondary: #240A40;
@mixin header(){
  font-family: Montserrat, sans-serif;
}

@mixin body(){
  font-family: 'Open Sans', sans-serif;
}

@mixin fixed-bg($url){
  background: url($url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

// GENERAL *********************************************************************

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include body();

  div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    padding-top: 1rem;
    min-height: 80vh;

    &.home {
      padding-top: 0;
    }
  }

  // FOOTER ********************************************************************

  footer {
    height: 10vh;
    background: $secondary;
    display: flex;
    color: $primary;
    margin-top: auto;

    p.copy {
      align-self: flex-end;
      margin: 0 15px 5px auto;
    }
  }
}

button.ui.button,
div.menu.nav a div.item {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

// HEADERS *********************************************************************

div.menu.nav {
  background: $secondary;
  border-bottom: 1px inset $primary;
  height: 10vh;
  border-radius: 0;
  margin: 0;

  & > div {
    justify-content: flex-end;
  }

  #logo {
    margin: 0 auto 0 15px;
    display: flex;
    align-items: center;

    img {
      width: 125px;
    }
  }

  a:not(#logo) {
    transition: background 0.5s ease;

    &:hover {
      background: $primary;

      div.item {
        color: #fff;
      }
    }

    div.item {
      color: $primary;
      height: 100%;
      transition: color 0.5s ease;
    }
  }
}

h1, h2, h3 {
  @include header();
}

h1 {
  color: $primary;
  background: $secondary;
  text-align: center;
}

// HOME ************************************************************************

main.home {
  width: 100vw;
  margin: 0;

  section.hero{
    @include fixed-bg('./assets/images/desk.jpg');
    height: 90vh;

    div.hero-overlay {
      height: 100%;
      background: linear-gradient(20deg, transparent, rgba($secondary,0.5) 25%, rgba($secondary,0.8), rgba($secondary,0.9));

      div.ui.container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button.ui.button {
          width: 250px;
          height: 150px;
          border: 2px solid $secondary;
          background: rgba(255,255,255,0.5);
          border-radius: 5px;
          color: $secondary;
          transition: all 0.5s ease;

          &:hover {
            background: lighten($primary, 40%);
          }
        }
      }
    }
  }

  section:nth-child(n+2) {

    & > div {
      padding-bottom: 4%;
      height: 100%;

      h2 {
        color: $secondary;
        background: linear-gradient(20deg, $primary, transparent);
        height: 4rem;

        div {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }

    &.about{
      @include fixed-bg('./assets/images/meeting.jpg');

      div.about-overlay {
        background: linear-gradient(-20deg, transparent, rgba($secondary,0.5) 25%, rgba($secondary,0.8), rgba($secondary,0.9));
      }


      div.about-content {
        padding: 1rem;
        border-radius: 10px;
        background: rgba($secondary,0.7);

        h3, p {
          color: lighten($primary, 20%);
          font-weight: 700;
        }

        h3 {
          font-size: 2rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }


    &.recent-jobs {

    }
  }
}

// JOBS ************************************************************************

main.jobs {

  div.ui.card {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: lighten($primary, 40%);
      box-shadow: 0 1px 3px 0 $secondary, 0 0 0 1px $secondary;
    }
  }
}

main.job {
  div.sectors {
    div {
      border: 1px solid #000;
    }
  }
}
